.post {
    width: 300px;
    background: lightblue;
    border-radius: 20px;
    padding: 10px;
    text-align: center;

}

.comments {
    text-align: left;
    margin-top: 20px;
}

.comment {
    font-size: 13px;
    margin-bottom: 15px;
}